<div id="wrapper" class="centered" >
	<div class="container">
		<hr>
	 	<div class="jumbotron jumbo-color1 box-shadow">
	     	<h1 class="txt-shadow">Movie Trivia</h1>
	     	<p class="txt-shadow">Chosen category: Horror</p>
	     	<p class="txt-shadow">4/7</p>
	    </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="questiondiv"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="answerdiv"></div>
			</div>
		</div>
	</div>
</div>